		<!-- Sidebar -->
        <section id="sidebar">
            <div class="inner">
                <nav>
                    <ul>
                        <li><a href="#intro">Principal</a></li>
                        <li><a href="#one">Modulo1</a></li>
                        <li><a href="#two">Modulo2</a></li>
                        <li><a href="#three">Buscar</a></li>
                    </ul>
                </nav>
            </div>
        </section>
